# Interazione con LLM locale (Ollama)
requests
ollama

# Utility per analisi e I/O
pandas
tqdm

# Web app (opzionale per Fase 2)
flask

# Se prevedi JSON complessi o validazione
jsonschema

# Utils
scikit-learn
langchain
langchain_community
langchain_ollama
langgraph==0.4.8
langgraph.checkpoint==2.1.0
langgraph.checkpoint.sqlite==2.0.10